{{- if eq ._type "text" -}}
    {{- .value | markdownify -}}
{{- else if eq ._type "local-image" -}}
    [{{ .src }}]({{ .alt }})
{{- else if eq ._type "callout" -}}
    {{- $content := .value | markdownify -}}

    {{- $attrs := partial "build-attrs.html" (dict 
        "emoji" .emoji
        "type" .type
        "icon" .icon
    ) -}}

    {{- printf `{{< callout %s>}}%s{{< /callout >}}` $attrs $content | safeHTML -}}
{{ else if eq .block._type "cards" }}
    {{- $attrs := partial "build-attrs.html" (dict 
        "cols" .cols
    ) -}}

    {{- $renderedContent := partial "cms/render-all.html" .value -}}

    {{- printf `{{< cards %s>}}%s{{< /cards >}}` $attrs $renderedContent | safeHTML -}}
{{ else if eq ._type "card" }}    
    {{- $attrs := partial "build-attrs.html" (dict 
        "link" .link
        "title" .title
        "tag" .tag
        "tagType" .tagType
        "subtitle" .subtitle
        "image" .image
        "method" .method
        "options" .options
    ) -}}

    {{- printf `{{< card %s>}}` $attrs | safeHTML -}}
{{ else if eq ._type "steps" }}
    {{- printf `{{< steps >}}%s{{< /steps >}}` .value | safeHTML -}}
{{ else if eq ._type "details" }}
    {{- $attrs := partial "build-attrs.html" (dict 
        "title" .title
        "closed" .closed
    ) -}}

    {{- printf `{{< details %s>}}%s{{< /details >}}` $attrs .value | safeHTML -}}
{{ end }}
