{{- $link := .block.link -}}
{{- $title := .block.title -}}
{{- $icon := .block.icon -}}
{{- $subtitle := .block.subtitle -}}
{{- $image := .block.image.src -}}
{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $imageStyle := .block.imageStyle -}}
{{- $tag := .block.tag -}}
{{- $tagType := .block.tagType -}}

{{/* Image processing options */}}
{{- $method := .block.method | default "Resize" | humanize -}}
{{- $options := .block.options | default "800x webp q80" -}}
{{- $process := .block.process | default (printf "%s %s" $method $options) -}}

{{- if and $image (not (urls.Parse $image).Scheme) -}}
{{- with or (.Page.Resources.Get $image) (resources.Get $image) -}}
    {{/* .Process does not work on svgs */}}
    {{- if (not (eq .MediaType.SubType "svg")) -}}
    {{/* Retrieve the $image resource from local or global resources */}}
    {{- $processed := .Process $process -}}
    {{- $width = $processed.Width -}}
    {{- $height = $processed.Height -}}
    {{- $image = $processed.RelPermalink -}}
    {{- end -}}
{{- end -}}
{{- end -}}

{{- partial "shortcodes/card" (dict
    "page"        .Page
    "link"        $link
    "title"       $title
    "icon"        $icon
    "subtitle"    $subtitle
    "image"       $image
    "width"       $width
    "height"      $height
    "imageStyle"  $imageStyle
    "tag"         $tag
    "tagType"     $tagType
    )
-}}